@model TallinnaRakenduslikKolllež.Models.Course
@{
	ViewData["Title"] = "Uus kursus";
}
@if (ViewBag.action == "Create")
{
<h1>Tee uus kursus</h1>
<h4>Sisesta info:</h4>
<hr/>
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@*<div>
				<label asp-for="CourseID" class="control-label"></label>
				<input asp-for="CourseID" class="form-control">
				<span asp-validation-for="CourseID" class="text-danger"></span>
			</div>**@
			<div>
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control">
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="Credits" class="control-label"></label>
				<input asp-for="Credits" class="form-control">
				<span asp-validation-for="Credits" class="text-danger"></span>
			</div>
			<div>
				<label asp-for="Department" class="control-label"></label>
				<select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID">
					<option value="" class="form-control" >-- Vali osakond--</option>
					</select>
				<span asp-validation-for="DepartmentID" class="text-danger"></span>
			</div>

			<div class=" form-group">
				<input type="submit" value="Tee uus" class="btn btn-primary"/> | <a asp-action="Index" class="btn btn-outline-primary">Tühista</a>
			</div>
		</form>
	</div>
</div>
}
else if (ViewBag.action == "Edit")
{
	<p>
		<h3>Muuda osakonda</h3>
	</p>
	<hr />
	<div class="row">
		<div class="col-md-8">
			<form asp-action="EditConfirmed">

				<input type="hidden" asp-for="CourseID" />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				@*			<div>
				<label asp-for="CourseID" class="control-label"></label>
				<input asp-for="CourseID" class="form-control"></input>
				<span asp-validation-for="CourseID" class="text-danger"></span>
			</div>@**@
				<div class="form-group">
					<label asp-for="Title" class="control-label"></label>
					<input asp-for="Title" class="control-label" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Credits" class="control-label"></label>
					<input asp-for="Credits" class="control-label" />
					<span asp-validation-for="Credits" class="text-danger"></span>
				</div>
				<div>
					<label asp-for="Department" class="control-label"></label>
					<select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID">
						<option value="" class="form-control">-- Vali osakond--</option>
					</select>
					<span asp-validation-for="DepartmentID" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Sisesta" class="btn btn-primary" /> | <a asp-action="Index" class="btn btn-outline-primary">Tühista</a>
				</div>
			</form>
		</div>
	</div>
}