
@model TallinnaRakenduslikKolllež.Models.Instructor
@{
	ViewData["Title"] = "Lisa Õpetaja";

}
<h1>Lisa Õpetaja</h1>
<h4></h4>
<hr/>
<div class="row">
	<div class="col-md-8">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="LastName"></label>
				<input asp-for="LastName" class="form-control"/>
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="FirstName"></label>
				<input asp-for="FirstName" class="form-control"/>
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="HiredDate"></label>
				<input asp-for="HiredDate" class="form-control"/>
				<span asp-validation-for="HiredDate" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="OfficeAssignments"></label>
				<input asp-for="OfficeAssignments" class="form-control"/>
				<span asp-validation-for="OfficeAssignments" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Salary"></label>
				<input asp-for="Salary" class="form-control"/>
				<span asp-validation-for="Salary" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="RoomID"></label>
				<input asp-for="RoomID" class="form-control"/>
				<span asp-validation-for="RoomID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control"/>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			@* lisage mudelist teiste andmete jaoks ka sisendiplokk*@

			<div class="form-group">
				<div class="col-mdoffset-2 col-md-10">
						<table>
								<tr>
									@{
										int count = 0;
										List<TallinnaRakenduslikKolllež.Models.AssignedCourseData> assignedCourses = ViewBag.Courses;
								
										if (assignedCourses != null)
										{
											foreach (var course in assignedCourses)
											{
												if (count++ % 3 == 0)
												{
													@:</tr><tr>
												}
												@:<td>
												<input
												type="checkbox"
												name="selectedCourses"
												value="@course.CourseID"
												@(Html.Raw(course.Assigned ? "checked=\"checked\"":""))
												/>
											}
										}
									else
									{
										@: Kursuseid ei Leitud
									}
									}

								</tr>
						</table>
						<div>
							<input type="submit" value="Sisesta" class="btn btn-primary"/>
						</div>
						<div>
							<a asp-action="Index" class="btn btn-danger">Tühista lisamine</a>
						</div>
				</div>
			</div>









		</form>
	</div>
</div>

















